* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

:root {
   --green: green
}

body {
   color: red;
}

body, input, textarea, select, button {
   font: 400 1rem 'Heebo'
}

button {
   cursor: pointer;
}

a {
   color: inherit;
   text-decoration: none;
}